# Environment
NODE_ENV=prod       # ( prod | test | cron )
APP_PORT=3000
EXTERNAL_PORT=3000
JWT_SECRET=super_secret_key_123

# DB Dialects and Ports
DB_DIALECT=sqlite
DB_HOST=localhost
DB_PORT=3306

# SQLite (used when DB_DIALECT=sqlite)
DB_STORAGE=db.sqlite
DB_TEST_STORAGE=test.sqlite

# Relational DB (used when DB_DIALECT=mysql/postgres)
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=cinema_db
DB_NAME_TEST=cinema_test

# Syncing and logging
DB_LOGGING=true
DB_FORCE_SYNC=false

# Owner initialization
INITIAL_OWNER_NAME="The owner"
INITIAL_OWNER_PASSWORD=owner_password
INITIAL_OWNER_EMAIL=owner@email.com
INITIAL_OWNER_PHONE_NUMBER=123456789