NODE_ENV=prod               # or test
PORT=3000
JWT_SECRET=JWT_SECRET

DB_DIALECT=sqlite
DB_STORAGE=db.sqlite
DB_TEST_STORAGE=test.sqlite
DB_LOGGING=true
DB_FORCE_SYNC=false

INITIAL_OWNER_NAM="The owner"
INITIAL_OWNER_PASSWORD=owner_password
INITIAL_OWNER_EMAIL=owner@email.com
INITIAL_OWNER_PHONE_NUMBER=123456789
